.covid-stuff {
  height: 400px;
  padding-bottom: 0px;
  margin-left: 40px;
}
.work-preference {
  display: flex;
  flex-direction: column;
  height: 140px;
  align-items: flex-start;
  width: 645px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-left: 100px;
}
.covid-title {
  font-family: "Rowdies";
  font-size: 64px;
  color: #fe3b1f;
  width: 760px;
  margin: 80px auto 80px 110px;
}
.work-preference label {
  margin-bottom: 10px;
}
.work-preference input {
  width: 12px;
  height: 12px;
}
.covid-contact {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: flex-start;
  width: 645px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-left: 100px;
}
.covid-date {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: flex-start;
  width: 645px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-left: 100px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../images/calendar.png) no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
  cursor: pointer;
}
.datePicker {
  width: 455px;
  height: 54px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
/* input[type="date"]:not(.has-value):before {
  color: lightgray;
  content: attr(placeholder);
} */
