.mainPage {
  background-color: rgb(20, 20, 20);
  background-image: url("../images/stars.png");
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: auto;
  text-align: center;
}
.welcome-title {
  color: #fe3b1f;
  font-size: 96px;
  font-weight: bold;
  font-family: "Rowdies", cursive;
  margin-top: 150px;
}
.start-btn {
  background: #fe3b1f;
  border-radius: 50px;
  border: none;
  color: #fff;
  width: 395px;
  height: 79px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  padding-top: 0px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.submitted-apps {
  text-decoration: underline;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 0px;
}
.main-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 20px;
}
.rocketman {
  width: 450.92px;
  height: 400.45px;
}
