.technical-title {
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  color: #fe3b1f;
  margin: 80px auto 120px 60px;
}
.skill-select {
  margin: 0px auto;
  width: 415px;
  height: 54px;
  box-sizing: border-box;
  padding-left: 40px;
  align-items: center;
  font-family: Montserrat;
  font-style: italic;
  background: #ffffff;
  border: 1px solid #525557;
  outline: none;
}
.skills {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #454545;
}
.skill-inputs {
  display: flex;
  flex-direction: column;
  width: 455px;
  height: 200px;
  margin: auto;
}
.skill-inputs input {
  height: 54px;
  background: #ffffff;
  border: 1px solid #525557;
  margin: 20px;
  box-sizing: border-box;
  padding-left: 40px;
  align-items: center;
  font-family: Montserrat;
}
.add-skill {
  width: 201px;
  height: 32px;
  background: #fe3b1f;
  color: #ffffff;
  border: none;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  margin-left: 233px;
  cursor: pointer;
}
.years-exp::placeholder {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #727272;
}
.selected-skills {
  height: 300px;
  max-height: 300px;
  width: 410px;
  margin: auto auto 73px auto;
  text-align: start;
  overflow-y: auto;
}
.skill-cont {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 54px;
  border: 1px solid #525557;
  box-sizing: border-box;
  margin-bottom: 20px;
  align-items: center;
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  line-height: 17px;
  justify-content: space-between;
  z-index: -1;
}
.skill-cont h2 {
  font-size: 14px;
}
.skill {
  width: 49px;
  margin-left: 15px;
}
.exp {
  width: 175px;
  margin-right: 60px;
}
.delete-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 15px;
}
.selected-skills::-webkit-scrollbar {
  display: none;
}
.fa-circle {
  color: #fe3b1f;
  margin: 5px;
  width: 19px;
  height: 19px;
  padding: 0px;
}
.pagination {
  display: flex;
  position: fixed;
  bottom: 50px;
  flex-direction: row;
  left: 340px;
  align-items: center;
}
.previous {
  width: 18px;
  height: 18px;
  margin-right: 7px;
}
.dark {
  opacity: 0.1;
}
input {
  outline: none;
}
